<div class="container">
  <div class="card">
    <div class="card-header">
      My Task
    </div>

    <div class="card-body">
      <h5 class="card-title"><%= @task.title %></h5>
      <p class="card-text"><%= @task.details %></p>
      <%= link_to "Edit task", edit_path(@task), class: 'btn btn-primary' %>
      <hr>
      <%= link_to "Back to list", tasks_path %>
    </div>
  </div>

</div>




